@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        <style > body {
            align-content: center;
            background-color: black;
            margin: 100px;
            border: 3px solid red;
            padding: 2px;
        }

        #div1_Banner {
            text-align: center;
            display: block;
            border: 12px solid yellow;
            color: yellow;
        }

        #div2_Links {
            color: yellow;
            text-align: center;
            padding: 25px;
            font-size: xx-large;
        }

        #div3_welcome {
            height: 80%;
            display: block;
            text-align: center;
            align-content: center;
            border: 12px solid yellow;
            color: yellow;
            padding-bottom: 27.5%;
        }

        #div3_image1 {
            float: left;
            border: 1px solid yellow;
            width: 350px;
            height: 350px;
            margin: 50px;
        }

        #div3_image2 {
            float: left;
            border: 1px solid yellow;
            width: 350px;
            height: 350px;
            margin: 50px;
        }

        .p_right {
            display: inline-block;
            float: right;
            border: 1px solid green;
            margin: 50px;
        }
    </style>
</head>

<body style="background-color: black;">
    <div id="div1_Banner">
        <h1>
            Gustaf V. M. Wallin - Hirable
        </h1>
        <p>
            - Ambitious student looking for work within IT. -
        </p>
    </div>
    <div id="div2_Links">
        <a href="http://localhost:52744/Home/Index">Home</a> | <a href="http://localhost:52744/Home/About">About</a>
        <hr />
    </div>
    <div id="div3_welcome">
        <img id="div3_image1" src="https://scontent.xx.fbcdn.net/v/t1.0-9/14502716_868360666631638_699733912506356031_n.jpg?oh=65acf20d93361f88c08d38bb2f0efa83&oe=586D2D7A" align="right" alt="div3_image1"/>
        <p class="p_left">
            Now ask yourself, "Did I hear that right?". Well yes indeed, this lad is hirable. Gustaf Wallin has four years of programming
            experience behind him, co-developer of "Steampunk and Napalm" together with Fredrik Svahn and Axel Ingelsson Fredler as
            well as proud nominee-finalist to ITG Sodertorn's Guldkretsen award 2016. With his superpower of coding and commiting, Gustaf
            intends to use this power to end world hunger, solve national disputes and code a self-playing gamepad (let's face it, that would
            be pretty sweet).
        </p>
        <img id="div3_image2" src="https://scontent.xx.fbcdn.net/v/t1.0-9/14441167_868360669964971_795930360930689612_n.jpg?oh=fe80436069e69e3e108f19ac1efdc8b0&oe=5880F878" align="left" alt="div3_image2"/>
    </div>
</body>
</html>

