@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<style>
    body {
        align-content: center;
        background-color: black;
        margin: 100px;
    }
    #div1_Banner {
        text-align: center;
        display: block;
        border: 12px solid yellow;
        color: yellow;
        padding:20px
    }
    #div2_Links {
        color: yellow;
        text-align: center;
    }
    #div3_ {
        display: block;
        text-align: right;
        border: 12px solid yellow;
        color: yellow;
        padding:20px
    }
</style>
<body style="background-color: black;">
    <div id="div1_Banner">
        <h1 style="color: yellow;">
            Gustaf V. M. Wallin - Hirable
        </h1>
        <p>
            - Ambitious student looking for work within IT. -
        </p>
    </div>
    <div id="div2_Links">
        <a href="http://www.w3schools.com">Home</a> | <a href="http://www.w3schools.com">Details</a> 
        <hr />
    </div>
    <div id="div3_">

    </div>
</body>
</html>

